{% extends "home/base.html" %}
{% block titulo %}Farmacia{% endblock  %}

{% block contenido %}
<div class="text-center" style= "padding:10px">
    <h1>Inventario </h1>
</div>
<div class="container-table">
    <div class="container-button">
        <div class="box">
            <form method="GET" action="{% url 'Recetas' %}">
                <input type="search" name="busqueda" value="{{query}}" placeholder="Buscar">
                <button  type="submit" class="button-search">Buscar</button>
            </form>
        </div>
        <button class="button-add" onclick="location.href='{%url 'AltaMed'%}'">Agregar</button>
    </div>
<div class= "container-table">
<table class="table table-bordered border-purple text-center align-middle">
    <thead class= "table-purple">
        <tr class="text-white">
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Categoria</th>
            <th>Cantidad</th>
            <th>Caducidad</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tboody>
        {% for medicamento in medicamentos  %}
        <tr>
            <td>{{medicamento.id}}</td>
            <td>{{medicamento.nombreMed}}</td>
            <td>{{medicamento.descripcion}}</td>
            <td>{{medicamento.categoria}}</td>
            <td>{{medicamento.cantidad}}</td>
            <td>{{medicamento.fechaVen}}</td>
            <td><a href="{% url 'GetMedicamento' medicamento.id %}"><i class="bi bi-pencil"></i></a></td>
            <td><i class="bi bi-trash"></i></td>
        </tr>
        {% endfor %}
    </tboody>
</table>
</div>
<div class="text-center">
    <h1>Medicamento Bajo</h1>
</div>
    <div class="container mt-4">
        <div class="row">
            {% for lowMed in lowMeds %}
            <div class="col-md-3 mb-4"> 
    <div class="card">
        <img src="{{lowMed.fotoMed.url}}" class="card-img-top" width="100"  alt="...">
        <div class="card-body">
          <h5 class="card-title">{{lowMed.nombreMed}}</h5>
          <p class="card-text">{{lowMed.descripcion}}</p>
        </div>
    </div>
            </div>
            {% endfor %}
        </div>
    </div>
</container>
{% endblock  %}