{% extends "home/base.html" %}
{% block titulo %}Pacientes{% endblock  %}

{% block contenido %}

<div class="text-center" style= "padding:10px">
        <form method="POST">
    {% csrf_token %}
    <!--Alerta-->
    <div class="text-black">
        <h3>Se eliminara el paceinte que seleccionaste!</h3>
        <p>La <strong>Eliminar</strong> de un paciente es definitiva.</p>
        <p>¿Estas Seguro de que deseas <strong>Eliminar</strong> el paceinte?.</p>
    </div>
    <!--Alerta-->
    <button type="submit" class="btn btn-danger">Si</button>
    <a href="{% url 'Pacientes'%}" class="btn btn-primary">Cancelar</a>
</form>
</div>
<container class="container-table">

</div>

</container>
{% endblock  %}