{% extends "home/base.html" %} 
{% block titulo %} Paciente info {% endblock %}

{% block contenido %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="profile-card bg-light">
        <img
        src="https://ceslava.s3-accelerate.amazonaws.com/2016/04/rZoltXj1-mistery-man-gravatar-wordpress-avatar-persona-misteriosa-510x510.png"
          alt="Profile Image"
          class="img-fluid rounded-circle mb-3 profile-image"
        />
        <h2>Cristian Jesus</h2>
        <p>Edad 18 años</p>
        <p>Género Hombre</p>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <h3 class="section-title">Recetas</h3>
    </div>
    <div class="col-md-4">
      <div class="prescription-card">
        <h2>006</h2>
        <p>Doctor</p>
        <p>
          Lorem ipsum dolor sit amet nulla adipiscing elit. Nunc maximus, nec ut
          commodo
        </p>
        <a href="#">Learn more →</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="prescription-card">
        <h2>007</h2>
        <p>Doctor</p>
        <p>
          Lorem ipsum dolor sit amet nulla adipiscing elit. Nunc maximus, nec ut
          commodo
        </p>
        <a href="#">Learn more →</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="prescription-card">
        <h2>008</h2>
        <p>Doctor</p>
        <p>
          Lorem ipsum dolor sit amet nulla adipiscing elit. Nunc maximus, nec ut
          commodo
        </p>
        <a href="#">Learn more →</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
