{% extends "home/base.html" %} 
{% block titulo %} Informacion del Paciente {% endblock %}

{% block contenido %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="profile-card bg-light">
        <img src="{{paciente.fotoPaciente.url}}" alt="Profile Image" class="img-fluid rounded-circle mb-3 profile-image"/>
        <h2>{{paciente.nombrePaciente}} {{paciente.apellidoPaciente}}</h2>
        <p>Edad {{paciente.edad}} años</p>
        <p>Género {%if paciente.genero == 1%} Masculino {%elif paciente.genero == 2%}Femenino{%endif%}</p>
      </div>
    </div>
      <div class="text-center">
          <a href = "{%url 'Pacientes'%}" class="btn btn-secondary"> Regresar</a>
      </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <h3 class="section-title">Recetas</h3>
    </div>
    {%for receta in recetas%}
    
    <div class="col-md-4">
      <div class="prescription-card">
        <h2>{{receta.id}}</h2>
        <p>{{receta.doctor}}</p>
        <p>{{receta.diagnostico}}</p>
        <a href="{% url "infoReceta" receta.id %}">Ver mas →</a>
      </div>
    </div>
    {%endfor%}
    
  </div>
</div>
{% endblock %}
