<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacientes</title>
</head>
<body>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Clave</th>
            <th>Nombre</th>
            <th>Detalles</th>
            <th>Edad</th>
            <th>Género</th>
            <th>Recetas</th>
        </tr>
    </thead>
        <tr>
            <td>#001</td>
            <td>Adam Smith</td>
            <td>Ojo</td>
            <td>22</td>
            <td>M</td>
            <td>003</td>
        </tr>
</table>

</body>
</html>