body {
    font-family: Arial, sans-serif;
    background-color: #d3e5f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: calc(100% - 10px);
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.form-group input[type="number"] {
    display: block;
}

.form-group textarea {
    resize: vertical;
}

.btn {
    width: calc(50% - 10px);
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    margin: 5px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    width: 100%; 
}

.form-group{
    flex: 0 0 48%; 
    box-sizing: border-box; 
    margin-bottom: 15px; 
    border: 1px solid #e2d5d5; 
    padding: 10px;
    border-radius: 15px;
}

.form-button{
    display: flex;
    justify-content: flex-start; 
    gap: 10px; 
}

.imagen{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drop-area{
    width: 300px;
    height: 300px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9ff;
    text-align: center; 
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}

.drop-area p{
    margin: 0;
    font-size: 18px;
    color: #333;
}

.file-input{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
