{% extends "home/base.html" %}
{% block titulo %}Editar Paciente{% endblock  %}
{%block contenido%}
<section class="sectionForm">
    <div class="form-container">
        <h2>Editar Receta</h2>
        <form action="{%url 'ActualizarRec' receta.id%}" method="POST" role="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container1">
                <div class="form-group">
                    <label>Nombre del Paciente</label>
                    <select name = "paciente" required>
                        <option value="" disabled selected>{{receta.paciente.nombrePaciente}} {{receta.paciente.apellidoPaciente}}</option>
                        {% for paciente in pacientes %}
                            <option value = "{{paciente.id}}">{{paciente.nombrePaciente}} {{paciente.apellidoPaciente}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="form-group">
                    <label>Medicamento</label>
                    <select name = "medicamento" required>
                        <option value="" disabled selected>{{receta.medicamento}}</option>
                        {% for medicamento in medicamentos %}
                            <option value = "{{medicamento.id}}">{{medicamento.nombreMed}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="form-group">
                    <label>Doctor</label>
                    <select name = "doctor" required>
                        <option value="" disabled selected>{{receta.doctor}}</option>
                        {% for usuario in usuarios %}
                            <option value = "{{usuario.id}}">{{usuario}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="form-group">
                    <label>Cantidad</label>
                    <input value={{receta.cantidad}} type="number" name="cantidad" min="1" required placeholder = "Cantidad">
                </div>

            </div>
            <div class="form-group">
                <label>Diagnóstico</label>
                <textarea  name="diagnostico" rows="4" placeholder = "Diagnóstico...">{{receta.diagnostico}}</textarea>
            </div>
            <div class="form-button">
                <input type="submit" class="btn btn-primary" value = "Aceptar">
                <a href = "{%url 'Recetas'%}" class="btn btn-secondary"> Cancelar</a>
            </div>
        </form>
    </div>
    
</section>
{%endblock contenido%}