{% extends "home/base.html" %}

{% block titulo %} Receta info {% endblock  %}

{% block contenido %} 
<div class="content">
    <div class="receta-header">
        <h2>Receta {{receta.id}} - {{receta.created}}</h2>
        <p>{{receta.paciente}}</p>
        <p>Dr. {{receta.doctor}}</p>
    </div>
    <div class="receta-body">
        <p>{{receta.diagnostico}}</p>
    </div>
    <div class="inventory">
        <div>
            <span>-{{receta.cantidad}}</span>
            <p>{{receta.medicamento}}</p>
        </div>
    </div>
</div>
{% endblock  %}
